* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 2px red;   */
    gap: 1rem;
}

h1 {
    /* background-color: gray; */
    color: blue;
    text-align: center;
}

h2 {
    /* background-color: red; */
    color: white;

}

#pressedNumber {
    background-color: black;
    height: 10%;
    width: 50%;

    padding: 20px;
    text-align: center;
    /* border: solid 2px red; */
}

#keyCodes {
    background-color: black;
    height: 10%;
    width: 50%;
    /* border: solid 2px red; */
    text-align: center;
    padding: 20px;
}

span {
    color: gray;
}